﻿@using AntFood.Blazor.Pages.ViewModels
@page "/tables"

@foreach (var item in Tables)
{
    <AntFood.Blazor.Pages.Components.TableItem Details="item" />
}

@code {
    public List<TableViewModel> Tables { get; set; } = new List<TableViewModel>
    {
        new TableViewModel
        {
            Id = Guid.NewGuid(),
            Name = "Table 1"
        }
    };
}
